.shell {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}

.pageContent {
  flex: 1;
  overflow-y: auto;
  padding: 1.25rem 1.4rem;
}

.pageContent::-webkit-scrollbar {
  width: 15px;
}

.pageContent::-webkit-scrollbar-track {
  background: var(--color-primary-100);
}

.pageContent::-webkit-scrollbar:hover {
  background: var(--color-primary-200);
}

.pageContent::-webkit-scrollbar-thumb {
  background: var(--color-primary-400);
  border-radius: 100px;
}

.pageContent::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-500);
}